<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1>Pergunta não encontrada :(</h1>
        <hr>
    </div>
</body>
<% -include ('partials/footer.ejs') %>